@media (max-width: 800px) {
  .first-block {
    background-size: auto;
  }

  .animation-setka {
    width: 160vw;
    height: 34vh;
  }

  .frame {
    left: 0;
    max-width: 164vw;
  }
}

/* Медиазапросы для адаптации */
@media (max-width: 768px) {
  .first-block {
    background-size: auto;
  }

  .social-scream {
    font-size: 14vw;
  }

  .catched-grid {
    font-size: 6vw;
  }

  .animation-setka {
    width: 121vw;
    height: 83vh;
  }

  .frame {
    left: 0;
    max-width: 128vw;
  }
  .animation-red-setka {
    width: 171vw;
    height: 48vh;
  }

  .red-frame {
    left: 0;
    max-width: 175vw;
  }

  .first-section,
  .second-section {
    height: 50vh;
  }

  .third-section {
    height: 70vh;
  }

  .hearts,
  .fourth-section {
    height: 30vh;
  }

  .hover-points {
    width: 90vw;
    padding: 15px;
  }

  .lines {
    font-size: clamp(5vw, 7vw, 9vw);
    letter-spacing: -0.5vw;
    line-height: 1.2;
  }

  .dash {
    font-size: 0.9em;
  }

  .point {
    font-size: 1em;
  }

  .dot:hover::before {
    font-size: 0.7em;
    letter-spacing: 0.05vw;
  }

  .hearts {
    width: 100vw;
    height: 70vh;
  }

  .heart {
    width: calc(var(--size, 6%) * 0.8);
  }

  .chat {
    width: 12%;
  }

  .fourth-section {
    height: 12vh;
  }

  .do-not-disturb {
    font-size: clamp(5vw, 6vw, 7vw);
  }

  .fifth-section {
    height: 100vh;
  }

  .glitch-image {
    width: 150vw;
  }

  .sixth-section {
    flex-direction: column;
    height: 100vh;
  }

  .rose-container {
    margin-left: 0;
    margin-bottom: 5vw;
    margin-top: 5vh;
  }

  .rose {
    width: 75vw;
  }

  .text-overlay {
    width: 90vw;
    top: 55%;
    height: 40vh;
  }

  .red-container {
    width: 40vw;
  }

  .white-container,
  .black-container {
    width: 60vw;
  }

  .seventh-section {
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    gap: 0;
  }

  .design-school {
    width: 45%;
    margin-left: 2.5vw;
    margin-bottom: 0;
  }

  .line-wrapper {
    flex-grow: 1;
    align-self: flex-end;
    width: auto;
  }

  .line-text {
    font-size: 6.5vw;
    margin-bottom: 0.7vh;
  }

  .hand {
    width: 30%;
    transform: none;
  }

  .hand:hover {
    transform: translateX(30px);
  }
  .connecting-line {
    height: 1.5px;
    border: 0.5px solid #550202;
  }
}

@media (max-width: 480px) {
  .social-scream {
    font-size: 16vw;
  }

  .catched-grid {
    font-size: 9vw;
  }

  .animation-setka {
    height: 51vh;
    width: 175vw;
  }

  .frame {
    max-width: 179vw;
  }

  .first-section,
  .second-section {
    height: 50vh;
  }

  /* Стили для маленьких экранов */
  .third-section {
    flex-direction: column;
  }
  .hover-points {
    width: 100vw;
    padding: 10px;
  }

  .lines {
    font-size: clamp(12vw, 14vw, 18vw);
    line-height: 1.5;
  }

  .dot:hover::before {
    font-size: 0.5em;
  }

  .hearts {
    height: 60vh;
  }

  .heart {
    width: calc(var(--size, 6%) * 0.9);
  }

  .chat {
    width: 20%;
  }

  .fourth-section {
    height: 15vh;
  }

  .do-not-disturb {
    font-size: clamp(11vw, 12vw, 8vw);
    animation: scroll-left 6s linear infinite;
  }

  .do-not-disturb:nth-child(2) {
    animation-delay: 2s;
  }

  .do-not-disturb:nth-child(3) {
    animation-delay: 3s;
  }

  .glitch-image {
    width: 300vw;
  }

  .sixth-section {
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .rose {
    width: 75vw;
  }

  .red-container {
    width: 40vw;
    height: 100vh;
  }

  .white-container,
  .black-container {
    height: 33vh;
    width: 60vw;
  }

  .extra {
    display: none;
  }

  .arrow-red,
  .arrow-black,
  .arrow-white {
    width: 22vw;
  }

  .text-overlay {
    width: 90vw;
    top: 45%;
    height: 40vh;
  }

  .design-school {
    width: 65%;
    margin-left: 2.5vw;
    margin-bottom: 0;
  }

  .line-wrapper {
    display: none;
  }

  .line-text {
    font-size: 6.5vw;
    margin-bottom: 0.7vh;
  }

  .hand-mobile {
    display: block;
    width: 40%;
    transform: none;
  }

  .hand-mobile:hover {
    transform: translateX(30px);
  }
  .connecting-line {
    height: 1.5px;
    border: 0.5px solid #550202;
  }
  .hand {
    display: none;
  }

  .seventh-section {
    padding-bottom: 2vh;
  }
}

@media (max-width: 428px) {
  .animation-setka {
    width: 162vw;
    height: 69vh;
  }

  .frame {
    left: 0;
    max-width: 169vw;
  }

  .seventh-section {
    height: 18.5vh;
  }
}

@media (max-width: 414px) {
  .animation-setka {
    width: 168vw;
    height: 68vh;
  }

  .frame {
    left: 0;
    max-width: 171vw;
  }

  .seventh-section {
    height: 18.5vh;
  }
}

@media (max-width: 412px) {
  .animation-setka {
    width: 168vw;
    height: 52vh;
  }

  .frame {
    left: 0;
    max-width: 171vw;
  }

  .seventh-section {
    height: 16.5vh;
  }
}

@media (max-width: 400px) {
  .animation-setka {
    width: 168vw;
    height: 53vh;
  }

  .frame {
    left: 0;
    max-width: 171vw;
  }
}

@media (max-width: 393px) {
  .animation-setka {
    width: 153vw;
    height: 52vh;
  }

  .frame {
    left: 0;
    max-width: 162vw;
  }

  .seventh-section {
    height: 18.5vh;
  }
}

@media (max-width: 390px) {
  .animation-setka {
    width: 153vw;
    height: 66vh;
  }

  .frame {
    left: 0;
    max-width: 162vw;
  }

  .seventh-section {
    height: 18.5vh;
  }
}

@media (max-width: 375px) {
  .animation-setka {
    width: 153vw;
    height: 64vh;
  }
  .frame {
    left: 0;
    max-width: 162vw;
  }
}

@media (max-width: 360px) {
  .animation-setka {
    width: 157vw;
    height: 52vh;
  }

  .frame {
    left: 0;
    max-width: 162vw;
  }
}
