/* Анимация плавного появления */
@keyframes fadeInOut {
  0% {
    opacity: 0; /* Полностью скрыто */
  }
  50% {
    opacity: 1; /* Полностью видно */
  }
  100% {
    opacity: 1; /* Снова скрыто */
  }
}

.frame:nth-child(1) {
    animation-delay: 0s;
  }
  
.frame:nth-child(2) {
  animation-delay: 0.7s;
}

.frame:nth-child(3) {
  animation-delay: 1.3s;
}

.frame:nth-child(4) {
  animation-delay: 1.7s;
}

.frame:nth-child(5) {
  animation-delay: 2.3s;
}

.frame:nth-child(6) {
  animation: fadeLastFrame 2.5s;
  animation-delay: 2.5s; /* Показывается после остальных */
  animation-fill-mode: forwards; /* Остаётся видимым после анимации */
}
  
/* Анимация для всех кадров, кроме последнего */
@keyframes fadeFrames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0; /* Исчезновение */
  }
}

/* Анимация для последнего кадра */
@keyframes fadeLastFrame {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1; /* Остаётся видимым */
  }
}
  

.red-frame:nth-child(1) {
  animation-delay: 0s;
}

.red-frame:nth-child(2) {
animation-delay: 0.2s;
}

.red-frame:nth-child(3) {
animation-delay: 0.4s;
}

.red-frame:nth-child(4) {
animation-delay: 0.6s;
}

.red-frame:nth-child(5) {
animation-delay: 0.8s;
}

.red-frame:nth-child(6) {
  animation-delay: 1s;
}

.red-frame:nth-child(7) {
  animation-delay: 1.2s;
}

.red-frame:nth-child(8) {
  animation-delay: 1.4s;
}

.red-frame:nth-child(9) {
  animation-delay: 1.6s;
}
  
.red-frame:nth-child(10) {
animation: fadeLastRedFrame 1.8s;
animation-delay: 1.8s; /* Показывается после остальных */
animation-fill-mode: forwards; /* Остаётся видимым после анимации */
}

/* Анимация для всех кадров, кроме последнего */
@keyframes fadeRedFrames {
0% {
  opacity: 1;
}

100% {
  opacity: 0; /* Исчезновение */
}
}

/* Анимация для последнего кадра */
@keyframes fadeLastRedFrame {
0% {
  opacity: 0;
}

100% {
  opacity: 1; /* Остаётся видимым */
}
}

/* Анимация смены шрифта */
@keyframes fontCycle {
  0%, 20% {
    font-family: "RubikWetPaint";
    opacity: 1;
    transform: scale(1);
  }
  20%, 40% {
    font-family: "RubikDoodleShadow";
    opacity: 1;
    transform: scale(1.1);
  }
  40%, 60% {
    font-family: "InkFree";
    opacity: 1;
    transform: scale(1);
  }
  60%, 80% {
    font-family: "OrelegaOne";
    opacity: 1;
    transform: scale(1.1);
  }
  80%, 95% {
    font-family: "RubikBrokenFax";
    opacity: 1;
    transform: scale(1);
  }
}

/* Анимация "дёргания" */
@keyframes jitter {
  0% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translate(0, 0);
  }
  25% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translate(-3px, 2px);
  }
  50% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translate(2px, -3px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translate(-2px, -2px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translate(0, 0);
  }
}


/* Анимация движения текста */
@keyframes scroll-left {
  0% {
    transform: translateX(300%); /* Текст на исходной позиции */
    visibility: visible;
  }
  100% {
    transform: translateX(-300%); /* Текст полностью уходит за левый край */
    visibility: visible;
  }
}

/* Анимация смены изображений */
@keyframes glitch-animation {
  0% {
    content: url('../images/Glitch/1.png'); /* Первое изображение */
  }
  50% {
    content: url('../images/Glitch/1.2.png'); /* Второе изображение */
  }
  100% {
    content: url('../images/Glitch/1.png'); /* Возвращение к первому изображению */
  }
}

/* Ключевые кадры для анимации вращения по кругу */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Анимация движения вправо */
@keyframes moveArrowRight {
  0% {
    transform: translateX(-400%); /* Начальная позиция */
    visibility: visible;
  }
  100% {
    transform: translateX(400%); /* Возвращение в исходное положение */
    visibility: visible;
  }
}

/* Анимация движения стрелки вверх */
@keyframes moveArrow {
  0% {
    transform: translateY(500%); /* Начальная позиция */
    visibility: visible;
  }

  100% {
    transform: translateY(-500%); /* Возвращается в исходное положение */
    visibility: visible;
  }
}

@keyframes moveHand {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(30px);
  }
}

.arrow-black:nth-child(1) {
  animation-delay: 0s; /* Без задержки */
}

.arrow-black:nth-child(2) {
  animation-delay: 0.5s; /* Задержка перед началом */
}

.arrow-black:nth-child(3) {
  animation-delay: 1s; /* Другая задержка */
}

.arrow-black:nth-child(4) {
  animation-delay: 1.5s; /* Другая задержка */
}

.arrow-black:nth-child(5) {
  animation-delay: 2s; /* Другая задержка */
}

.arrow-black:nth-child(6) {
  animation-delay: 2.5s; /* Другая задержка */
}

.arrow-black:nth-child(7) {
  animation-delay: 3s; /* Другая задержка */
}

.arrow-black:nth-child(8) {
  animation-delay: 3.5s; /* Другая задержка */
}

.arrow-white:nth-child(1) {
  animation-delay: 0s; /* Без задержки */
}

.arrow-white:nth-child(2) {
  animation-delay: 0.5s; /* Задержка перед началом */
}

.arrow-white:nth-child(3) {
  animation-delay: 1s; /* Другая задержка */
}

.arrow-white:nth-child(4) {
  animation-delay: 1.5s; /* Другая задержка */
}

.arrow-white:nth-child(5) {
  animation-delay: 2s; /* Другая задержка */
}

.arrow-white:nth-child(6) {
  animation-delay: 2.5s; /* Другая задержка */
}

.arrow-white:nth-child(7) {
  animation-delay: 3s; /* Другая задержка */
}

.arrow-white:nth-child(8) {
  animation-delay: 3.5s; /* Другая задержка */
}

.do-not-disturb:nth-child(1) {
  animation-delay: 0s; /* Без задержки */
}

.do-not-disturb:nth-child(2) {
  animation-delay: 1s; /* Задержка перед началом */
}

.do-not-disturb:nth-child(3) {
  animation-delay: 2s; /* Другая задержка */
}

.do-not-disturb:nth-child(4) {
  animation-delay: 3s; /* Другая задержка */
}

.do-not-disturb:nth-child(5) {
  animation-delay: 4s; /* Другая задержка */
}

.do-not-disturb:nth-child(6) {
  animation-delay: 5s; /* Другая задержка */
}