.Glich {
  width: 1297px;
  height: 671px;
  position: relative;
  background-image: url("../images/GLICH\ 05.svg");
  animation: smena 0.3s steps(1) infinite;
}
@keyframes smena {
  0% {
    background-position: -1297px 0;
  }
  50% {
    background-position: -2594px 0;
  }
  100% {
    background-position: -3891px 0;
  }
}
