* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.first-section {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: 100vh;
  z-index: 10;
}

/* Задний фон */
.first-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Setka/setka.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  animation: fadeInOut 20s;
}

/* Текст */
.social-scream {
  color: white;
  font-size: 10vw;
  font-family: "RubikWetPaint", sans-serif;
  text-align: center;
  z-index: 3;
  position: relative;
  overflow-x: visible;
}

.second-section {
  background-color: #aa0404;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.catched-grid {
  text-transform: lowercase;
  color: black;
  font-size: 5vw;
  font-family: "RubikWetPaint", sans-serif;
  position: relative;
  z-index: 2;
  margin-top: 10vh;
  overflow-x: visible;
}

/* Контейнер для анимированного текста */
.animated-word-container {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 1em;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

/* Анимация слова */
.animated-word {
  display: inline-block;
  animation: fontCycle 0.3s infinite ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  transform-origin: center;
  text-align: center;
  transition: transform 0.3s ease, font-size 0.3s ease;
  overflow-x: visible;
}

/* плавность */
.animated-word {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.setka-grid {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.person-image {
  z-index: 3;
  width: 50%;
  max-width: 50%;
  height: auto;
  margin-top: 10rem;
}

/* Анимация сетки */
.animation-setka {
  position: absolute;
  height: 103vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 15;
}

.animation-red-setka {
  position: absolute;
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 15;
}

.red-frame {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: fadeRedFrames 1.8s; /* Общ длительность 5 кадров * 0.5s */
  max-width: 215vh;
  z-index: 15;
}

.frame {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: fadeFrames 2.5s;
  max-width: 168vh;
  z-index: 15;
}

.third-section {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.hover-points {
  background-color: white;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: visible;
}

/* Основной стиль для текста */
.lines {
  font-size: clamp(7vw, 8.5vw, 12.2vw); /* Минимум 8.5vw, максимум 12.2vw */
  letter-spacing: -1.2vw;
  text-align: center;
  line-height: 0.8;
  position: relative;
  overflow-x: visible;
}

/* Стили тире */
.dash {
  display: inline-block;
  transition: opacity 0.3s ease;
  color: black;
  font-size: 1em;
  position: relative;
  overflow-x: visible;
}

/* Точка */
.point {
  font-size: 1.2em;
  display: inline-block;
  color: black;
  overflow-x: visible;
}

/* Текст вместо тире при наведении */
.dot {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow-x: visible;
}

.dot:hover .dash {
  opacity: 0;
}

.dot:hover::before {
  content: attr(data-word);
  font-size: 0.4em;
  color: #aa0404;
  position: absolute;
  white-space: nowrap;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-10%);
  text-align: center;
  z-index: 1;
  letter-spacing: 0.3vw;
  overflow-x: visible;
}

/* Пустой data-word */
.dot[data-word=""]::before {
  content: "";
}

.hearts {
  background-color: black;
  width: 50vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden; /* Скр за пределы блока */
}

.hearts {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  z-index: 2;
  position: relative;
}

/* Сердечки */
.heart {
  position: absolute;
  width: var(--size, 8%);
  transform: translate(-50%, -50%) rotate(var(--angle, 0deg));
  top: var(--y, 50%);
  left: var(--x, 50%);
  animation: jitter 0.3s infinite;
  transition: transform 0.3s ease-out;
}

/* Центральное изображение */
.chat {
  position: relative;
  z-index: 10;
  width: 20%;
  transition: transform 0.3s, opacity 0.3s, background-image 0.3s;
}

/* Замена изображения при наведении */
.chat:hover {
  content: url("../images/chat_hovered.png");
  transform: scale(1.1);
}

/* Остановка анимации сердечек при наведении на .chat */
.chat:hover ~ .heart {
  animation: none !important;
}

.fourth-section {
  background-color: #aa0404;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.do-not-disturb {
  color: black;
  font-size: 3.5vw;
  font-family: "RubikWetPaint", sans-serif;
  white-space: nowrap; /* не перенос текста на новую строку */
  overflow-x: visible;
  animation: scroll-left 12s linear infinite;
  position: absolute;
  padding-right: 30vw;
  visibility: hidden;
}

.fifth-section {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.glitch-image {
  width: 100vw;
  height: 100vh;
  animation: glitch-animation 0.2s steps(1) infinite;
  overflow-x: visible;
}

.sixth-section {
  background-color: black;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.rose-container {
  position: relative;
  display: inline-block;
  margin-left: 5vw;
  overflow-x: visible;
}

/* Розы на переднем плане */
.rose {
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease;
}

/* Текст на заднем плане */
.text-overlay {
  width: 38vw;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 1.5s ease;
}

/* Эффект при наведении */
.rose-container:hover .text-overlay {
  opacity: 1;
}

.arrows-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.red-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  background-color: #aa0404;
  padding: 1vw;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.white-container,
.black-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  height: 28vh;
  background-color: white;
  padding: 1vw;
}

.black-container {
  background-color: black;
  overflow: hidden;
  position: relative;
}

.arrow-white {
  animation: moveArrowRight 2s infinite linear;
  position: absolute;
  visibility: hidden;
}

.arrow-red,
.arrow-black,
.arrow-white {
  transition: transform 0.5s ease;
  cursor: pointer;
  margin: 0.5vw;
}

.arrow-black {
  animation: moveArrow 3s infinite linear;
  position: absolute;
  visibility: hidden;
}

.arrow-red {
  animation: spin 1s linear infinite;
}

.seventh-section {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3vh;
  height: 35vh;
  position: relative;
  overflow-x: hidden;
}

.design-school {
  margin-left: 3vw;
}

/* Обёртка для полосы и текста */
.line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  align-self: flex-end;
  position: relative;
  transition: transform 0.6s ease-in-out;
  overflow-x: visible;
}

/* Надпись над линией */
.line-text {
  font-family: "PoiretOne";
  color: #aa0404;
  font-weight: 500;
  font-size: 4.5vw;
  margin-bottom: 0.7vh;
  overflow-x: visible;
}

/* Красная полоса */
.connecting-line {
  height: 4px;
  background-color: #aa0404;
  width: 104%;
  border: 1.5px solid #550202;
  box-sizing: border-box;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s ease-in-out;
  overflow-x: visible;
  margin-left: 2.5vw;
}

.hand-mobile {
  display: none;
  transition: transform 0.6s ease-in-out;
  transform-origin: center;
  cursor: pointer;
  overflow-x: visible;
}

.hand {
  transition: transform 0.6s ease-in-out;
  transform-origin: center;
  cursor: pointer;
  overflow-x: visible;
  animation: moveHand 0.4s infinite linear alternate;
}

/* Линия при наведении */
.hand:hover {
  transform: translateX(30px);
}
